html,
body,
#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  border-radius: 7px;
  background-color: transparent;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'manage';
  src: url('//at.alicdn.com/t/font_1729379_46rdmm04hxc.woff2?t=1624776160981')
      format('woff2'),
    url('//at.alicdn.com/t/font_1729379_46rdmm04hxc.woff?t=1624776160981')
      format('woff'),
    url('//at.alicdn.com/t/font_1729379_46rdmm04hxc.ttf?t=1624776160981')
      format('truetype');
}
