html,
body,
#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'manage';
  src: url('//at.alicdn.com/t/font_1729379_46rdmm04hxc.woff2?t=1624776160981')
      format('woff2'),
    url('//at.alicdn.com/t/font_1729379_46rdmm04hxc.woff?t=1624776160981')
      format('woff'),
    url('//at.alicdn.com/t/font_1729379_46rdmm04hxc.ttf?t=1624776160981')
      format('truetype');
}
