// 应用容器
.baseLayout {
  width: 100%;
  height: 100%;
  > :global(.ant-pro-basicLayout) {
    height: 100%;
    > :global(.ant-layout-has-sider) {
      height: 100%;
    }
    :global(.ant-pro-basicLayout-content) {
      margin-right: 0;
      margin-bottom: 0;
    }
    :global(.ant-pro-global-footer) {
      margin: 10px 0 10px 0;
    }
  }
}

.pageContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}
